/* responsive   */

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin: auto auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

body {
    background-color: #ecebe4;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'segoe ui';
}

.nav {
    height: 50px;
    width: 100%;
    background-color: #4d4d4d;
    position: sticky;
    top: 0;
}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav-title>a {
    text-decoration: none;
    color: white;
}

.nav>.nav-bars {
    display: none;
}

.nav>.nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.nav>.nav-links>a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav>#nav-check {
    display: none;
}

.nav-links a:hover,
.nav-links a.active {
    color: #f3ef36;
}

.btn {
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    padding: 6px 12px;
    margin-bottom: 0;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

.btn-default {
    color: whitesmoke;
    background-color: #1c5d99;
    border-color: #ccc;
}

.btn-default:hover {
    background-color: #4daa57;
}

textarea[name="article"] {
    margin: 10px 10px;
    background-color: whitesmoke;
    width: 50vw;
    height: 10vh;
    display: block;
}

.share-btn {
    margin: 10px 10px;
}

.article {
    display: block;
    padding: 2vh 3vw;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: 5vh;
}

.article-body>p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article-footer {
    display: flex;
    justify-content: space-between;
}

.muted{
    margin: 0 10px;
    opacity: 0.5;
}